

h1, h3{
    color:  darkgoldenrod;
    font: Arial;
    font-size: xx-large; 
    text-align: center;
}

.classCSS{
    color:chartreuse;
    font-size: medium;
    font: Arial;
}

body{
    background-color: #1f2020;  
}

p{
    text-align :center;
}

div{
    align-content: center;

}

ol{
    color: goldenrod;
}
