

h1{
    color:  darkgoldenrod;
    font: Arial;
    font-size: xx-large; 
    text-align: center;
}

.classCSS{
    color:chartreuse;
    font-size: medium;
    font: Arial;
}

body{
    background-color: #1f2020;  
}

p{
    text-align :center;
}

ul, h3 ,h4, li{
    text-align: center;
    color: rgb(150, 0, 0);
}

.parrafoIzquierda{
    align-content: left;
}

#parrafoCentro{
    text-align: center;
}

