

h1{
    color:  darkgoldenrod;
    font: Arial;
    font-size: xx-large; 
    text-align: center;
}

.classCSS{
    color:chartreuse;
    font-size: medium;
    font: Arial;
}

body{
    background-color: #1f2020;  
}

p{
    text-align :center;
}

div, ol, h3 ,h4{
    align-content: center;
    color: goldenrod;
}

#parrafoIzquierda{
    text-align: left;
}
